<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a routerLink="#">
            <img src="images/icon/logo.png" alt="R.I.S Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" routerLink="/admin">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                  
                </li>
                <li>
                    <a routerLink="/admin/addcat">
                        <i class="fas fa-chart-bar"></i>SAITI</a>
                </li>
                <!--<li>
                    <a routerLink="/admin/addcat">
                        <i class="fas fa-chart-bar"></i>ADD SAITI</a>
                </li>-->
                <li>
                    <a routerLink="/admin/addblog">
                        <i class="far fa-check-square"></i>SERVICES</a>
                </li>
                <!--<li>
                    <a routerLink="/admin/addblog">
                        <i class="far fa-check-square"></i> ADD SERVICES</a>
                </li>-->
                <li>
                    <a routerLink="/admin/ablog">
                        <i class="fas fa-calendar-alt"></i>POLICY</a>
                </li>
               <!-- <li>
                    <a routerLink="/admin/ablog">
                        <i class="fas fa-calendar-alt"></i> ADD POLICY</a>
                </li>-->
                <li>
                    <a routerLink="/admin/afeed">
                        <i class="fas fa-map-marker-alt"></i>CUSTOMERS</a>
                </li>
                <li>
                    <a routerLink="table.html">
                        <i class="fas fa-table"></i>ACHIEVEMENTS</a>
                </li>
                <li>
                <a routerLink="table.html">
                <i class="fas fa-desktop"></i>CONTACTS</a>
                </li>
                <li>
                <a routerLink="table.html">
                <li><i class="fas fa-desktop"></i>ABOUT US</a>
                </li>
                <li>
                    <a href="calendar.html">
                        <i class="fas fa-calendar-alt"></i>Calendar</a>
                </li>
                
              
              
            </ul>
        </nav>
    </div>
</aside>