
<div class="banner-bottom">
    <div class="container">
       
             <h2 class="w3l_header">About Us</h2>
             <p class="quia">Who we are</p>
             <h3 class="" style="text-align: center;"><strong> OUTSTANDING </strong></h3>
            <p class="agile_para">SAITI Limited, has been working on the Block 3; 17; 15;
                  18 and Block O in collaborations with the following <br>
                 companies on different Onshore and Offshore  projects: </p>
               <p style="padding-left: 350px;">
                     ENI <br><br>

                     PLUSPETROL <br> <br>

                     PREZIOSO <br> <br>

                     FRIELANDER <br> <br>

                     CUCA <br> <br>
                </p>
                <p class="agile_para"> 
                    Since 2018 we have been working on the 
                    construction of the ENI Base at DINGE - Cabinda
                </p>

                <div class="row">
                    <div class="column">
                      <img src="/assets/Picture3.jpg" alt="Snow" style="width:90%">
                    </div>
                    <div class="column">
                      <img src="/assets/Picture1.jpg" alt="oil" style="width:93%">
                    </div>
                  
                </div> <br><br> 
                <div>
                <p class="agile_para"> 
                    Since 2018 – We have been working on the PLUSPETROL
                    Manifold construction at SAITI Base CHIFUCA – Cabinda
                </p>
                </div>

                <div class="row">
                    <div class="column">
                      <img src="/assets/Picture4.jpg" alt="Snow" style="width:90%">
                    </div>
                    <div class="column">
                      <img src="/assets/Picture5.jpg" alt="oil" style="width:93%; height: 463px;">
                    </div>
                  
                </div>  
</div>
</div>


