<!--start saiti-->
<!-- //banner -->
<div class="banner1">
    <div class="w3layouts_banner1_info">
           <h2>Services</h2>
       </div>

</div>
<!-- banner-bottom -->
<div class="banner-bottom">
   <div class="container">
    <h3 class="w3l_header">WHAT IS SAITI?</h3>
       <p class="quia">Gas and Oil Industry</p>
       <p class="agile_para">
        R.-I.S Oil & Gas with his partener SAITI Limited is an Angolan company 
        which started its activities in 2008. The company are registered in the 
        Petroleum Ministry Under No. 97338 / 2018. So, far the Company has 73 
        employees working in diferent sector  in Angola. Presently, our company 
        has construction contrats with ENI and PLUSPETROL including Man 
        Power to FRIELANDER for Maintenance activities. <br><br>
        Our Personnel are trained and qualified in accordance with international 
        standards with appropriate experience and technology with strong 
        organizations capabilities to meet customer requirement. <br><br>
        The main office is actually located in Luanda Rua dos Coqueiros , Lote 37, 
        Bairro Ingombota (Muntamba). In 2017  new office has been created at 
        Cabinda province with the installation of new yard for supporting 
        PLUSPETROL and ENI activities.
        <br><br>
        Our company has a partnership with DEVONIA a south African company 
        to  assist us in engeering.
        </p>
       <div class="w3ls_service_grids">
           <div class="col-md-3 w3l_service_grid_left">
               <div class="w3_service_grid_left_grid">
                   <i class="fa fa-flask" aria-hidden="true"></i>
               </div>
               <h4>Duis lacinia sapien</h4>
               <p>Nunc posuere sapien eros, sed faucibus metus feugiat non.</p>
               
           </div>
           <div class="col-md-3 w3l_service_grid_left">
               <div class="w3_service_grid_left_grid">
                   <i class="fa fa-gavel" aria-hidden="true"></i>
               </div>
               <h4>Proin eros metus</h4>
               <p>Nunc posuere sapien eros, sed faucibus metus feugiat non.</p>
               
           </div>
           <div class="col-md-3 w3l_service_grid_left">
               <div class="w3_service_grid_left_grid">
                   <i class="fa fa-cogs" aria-hidden="true"></i>
               </div>
               <h4>faucibus metus feugi</h4>
               <p>Nunc posuere sapien eros, sed faucibus metus feugiat non.</p>
               
           </div>
           <div class="col-md-3 w3l_service_grid_left">
               <div class="w3_service_grid_left_grid">
                   <i class="fa fa-tasks" aria-hidden="true"></i>
               </div>
               <h4>lorem egestas comm</h4>
               <p>Nunc posuere sapien eros, sed faucibus metus feugiat non.</p>
               
           </div>
           <div class="clearfix"> </div>
       </div>
   </div>
</div>
<!-- //banner-bottom -->
<!-- stats -->
<div class="stats">
   <div class="container">
       <div class="col-md-3 w3_stats_grid">
           <h3 id="w3l_stats1" class="odometer">0</h3>
           <p>Years of Experience</p>
       </div>
       <div class="col-md-3 w3_stats_grid">
           <h3 id="w3l_stats2" class="odometer">0</h3>
           <p>Awards Winning</p>
       </div>
       <div class="col-md-3 w3_stats_grid">
           <h3 id="w3l_stats3" class="odometer">0</h3>
           <p>Workers</p>
       </div>
       <div class="col-md-3 w3_stats_grid">
           <h3 id="w3l_stats4" class="odometer">0</h3>
           <p>Companies</p>
       </div>
       <div class="clearfix"> </div>

   </div>
</div>
<!-- //stats -->
<!-- featured-services -->
<div class="banner-bottom">
   <div class="container"> 
   <h3 class="w3l_header">Our Featured Services</h3>
       <p class="quia">Oil Industry</p>
       
       <div class="w3ls_service_grids">
           <div class="col-md-4 w3_agile_services_grid">
               <div class="agile_services_grid">
                   <div class="hover06 column">
                       <div>
                           <figure><img src="./assets/g5.jpg" alt=" " class="img-responsive" /></figure>
                       </div>
                   </div>
                   <div class="agile_services_grid_pos">
                       <i class="fa fa-cubes" aria-hidden="true"></i>
                   </div>
               </div>
               <h4>tempus eu turpis</h4>
               <p>Aliquam lacus turpis, lobortis quis dolor sed, dignissim rhoncus neque.</p>
           </div>
           <div class="col-md-4 w3_agile_services_grid">
               <div class="agile_services_grid">
                   <div class="hover06 column">
                       <div>
                           <figure><img src="./assets/g2.jpg" alt=" " class="img-responsive" /></figure>
                       </div>
                   </div>
                   <div class="agile_services_grid_pos">
                       <i class="fa fa-line-chart" aria-hidden="true"></i>
                   </div>
               </div>
               <h4>lobortis quis dolor</h4>
               <p>Aliquam lacus turpis, lobortis quis dolor sed, dignissim rhoncus neque.</p>
           </div>
           <div class="col-md-4 w3_agile_services_grid">
               <div class="agile_services_grid">
                   <div class="hover06 column">
                       <div>
                           <figure><img src="./assets/g3.jpg" alt=" " class="img-responsive" /></figure>
                       </div>
                   </div>
                   <div class="agile_services_grid_pos">
                       <i class="fa fa-cog" aria-hidden="true"></i>
                   </div>
               </div>
               <h4>dignissim rhoncus</h4>
               <p>Aliquam lacus turpis, lobortis quis dolor sed, dignissim rhoncus neque.</p>
           </div>
           <div class="clearfix"> </div>
       </div>
   </div>
</div>
<!-- //featured-services -->

<!--//End saiti-->
