<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="container">
       
              <h2 class="w3l_header">Our Introduction</h2>
        <p class="quia">Who we are</p>
            <p class="agile_para">Lorem ipsum dolor sit amet conse ctetur adipisicing elit. Quis nostrum exercitationem ullam corporis suscipit 
                laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure 
                reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, 
                vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
                

        <div class="col-md-2 w3_agileits_banner_bottom_grid">
            <h5>Oil</h5>
        </div>
        <div class="col-md-10 w3_agileits_banner_bottom_grid_left">
            <ul id="flexiselDemo1">	
                <li>
                    <div class="agileits_w3layouts_banner_bottom_grid">
                        <div class="wthree_banner_bottom_grid1">
                            <img src="./assets/g1.jpg" alt=" " class="img-responsive" />
                            <div class="agileinfo_banner_bottom_grid1_pos">
                                <h3>The Oil</h3>
                                    <p>Real Quality</p>
                            </div>
                        </div>
                        <h4><a routerLink="#" data-toggle="modal" data-target="#myModal">Vivamus et dolor pulvinar, iaculis diam.</a></h4>
                    </div>
                </li>
                <li>
                    <div class="agileits_w3layouts_banner_bottom_grid">
                        <div class="wthree_banner_bottom_grid1">
                            <img src="./assets/g2.jpg" alt=" " class="img-responsive" />
                            <div class="agileinfo_banner_bottom_grid1_pos">
                                <h3>The Oil</h3>
                                    <p>Real Quality</p>
                            </div>
                        </div>
                        <h4><a routerLink="#" data-toggle="modal" data-target="#myModal">Maecenas semper augue accumsan rutrum.</a></h4>
                    </div>
                </li>
                <li>
                    <div class="agileits_w3layouts_banner_bottom_grid">
                        <div class="wthree_banner_bottom_grid1">
                            <img src="./assets/g4.jpg" alt=" " class="img-responsive" />
                            <div class="agileinfo_banner_bottom_grid1_pos">
                                <h3>The Oil</h3>
                                    <p>Real Quality</p>
                            </div>
                        </div>
                        <h4><a routerLink="#" data-toggle="modal" data-target="#myModal">In nunc purus, luctus in venenatis.</a></h4>
                    </div>
                </li>
                <li>
                    <div class="agileits_w3layouts_banner_bottom_grid">
                        <div class="wthree_banner_bottom_grid1">
                            <img src="./assets/g3.jpg" alt=" " class="img-responsive" />
                            <div class="agileinfo_banner_bottom_grid1_pos">
                                <h3>The Oil</h3>
                                    <p>Real Quality</p>
                            </div>
                        </div>
                        <h4><a routerLink="#" data-toggle="modal" data-target="#myModal">habitant morbi tristique senectus diam.</a></h4>
                    </div>
                </li>
                <li>
                    <div class="agileits_w3layouts_banner_bottom_grid">
                        <div class="wthree_banner_bottom_grid1">
                            <img src="./assets/g5.jpg" alt=" " class="img-responsive" />
                            <div class="agileinfo_banner_bottom_grid1_pos">
                                <h3>The Oil</h3>
                                <p>Real Quality</p>
                            </div>
                        </div>
                        <h4><a routerLink="#" data-toggle="modal" data-target="#myModal">Maecenas dictum honcus scelerisque.</a></h4>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //banner-bottom -->
<!-- Tooltip -->
            <div class="tooltip-content">

                <div class="modal fade features-modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Oil Industry</h4>
                            </div>
                            <div class="modal-body">
                                <img src="./assets/g4.jpg" alt="" class="img-responsive" >
                                <h5>Curabitur quis egestas.</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius lectus vitae porttitor fringilla. Donec turpis orci, elementum a nunc quis, maximus varius ipsum. Sed bibendum ex in dignissim bibendum.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
