
<!-- banner -->
<div class="header">
    <!--<div class="w3layouts_header_left">
        <ul>
                <li><a routerLink="/login" data-toggle="modal" data-target="#myModal2"><i class="fa fa-user" aria-hidden="true"></i> Login</a></li>
                <li><a routerLink="/signup" data-toggle="modal" data-target="#myModal3"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sign up</a></li>
            </ul>

    </div>-->
    <div class="w3layouts_header_right">
        <ul>
            <li><i class="fa fa-envelope" aria-hidden="true"></i><a routerLink="mailto:info@ris-sn.com">info@ris-sn.com</a></li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>+221 77 631 87 62</li>
                        <div class="agileinfo_social_icons">
                <ul class="agileits_social_list">
                    <li><a routerLink="#" class="agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a routerLink="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a routerLink="#" class="agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a routerLink="#" class="agile_google"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                    <li><a routerLink="#" class="agile_linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a routerLink="#" class="agile_flickr"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
                    <li><a routerLink="#" class="agile_language"><i class="fa fa-language" aria-hidden="true"></i></a></li>
                    <li><a routerLink="#" class="agile_rss"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                </ul>
            </div> 
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="top_heder_agile_info">
    <div class="w3ls_agile_header_inner">	
        <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <div style="margin-left:0px"><h1><a class="navbar-brand" routerLink="/index">
                    <img src="./assets/logo.jpg" style="padding-bottom:5px" alt=""  class="img-responsive"></a></h1></div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav class="menu menu--juliet">
                    <ul class="nav navbar-nav">
                        <li class="active"><a routerLink="/">Home</a></li>
                        <li class="act" ><a routerLink="/saiti" onmouseover="this.style.color = 'rgb(253, 232, 109)'" onmouseout="this.style.color = 'black'">SAITI</a></li>
                        <li><a routerLink="/service" onmouseover="this.style.color = 'rgb(253, 232, 109)'" onmouseout="this.style.color = 'black'">SERVICES</a></li>
                        <li><a routerLink="/policy" onmouseover="this.style.color = 'rgb(253, 232, 109)'" onmouseout="this.style.color = 'black'">HSE POLICY</a></li>
                        <li><a routerLink="/customer" onmouseover="this.style.color = 'rgb(253, 232, 109)'" onmouseout="this.style.color = 'black'">CUSTOMERS</a></li>
                        <li><a routerLink="/achievement"onmouseover="this.style.color = 'rgb(253, 232, 109)'" onmouseout="this.style.color = 'black'">ACHIEVEMENTS</a></li>
                        <li><a routerLink="/contact" onmouseover="this.style.color = 'rgb(253, 232, 109)'" onmouseout="this.style.color = 'black'">CONTACTS</a></li>
                        <li><a routerLink="/aboutus" onmouseover="this.style.color = 'rgb(253, 232, 109)'" onmouseout="this.style.color = 'black'" >ABOUT US</a></li>
                        <!-- <li class="dropdown">
                            <a routerLink="#" class="dropdown-toggle" data-toggle="dropdown">Short Codes <b class="caret"></b></a>
                            <ul class="dropdown-menu agile_short_dropdown">
                                <li><a routerLink="icons.html">Web Icons</a></li>
                                <li><a routerLink="typography.html">Typography</a></li>
                            </ul>
                        </li> -->
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>
<!-- //banner -->
<!-- banner -->
<!-- <div class="banner-silder">
         <div class="banner">
                <ul>
                </ul>
              <ol>
              </ol>
              <i class="left"></i><i class="right"></i>
              <div class="banner_wthree_agile_info">
                 <section class="rw-wrapper">
                    <div class="rw-sentence">
                        <span>The Finest Quality </span>
                        <br />
                        <span>of Oil And</span>
                        
                        <div class="rw-words rw-words-1">
                            <span></span>
                            <span>Gas Resources</span>
                            <span>Fuel</span>
                            <span>Gas Resources</span>
                            <span>Gas Flaring</span>
                            
                        </div>
                    </div>
                 </section>
                 <div class="wthree_more">
                   <a routerLink="single.html" data-toggle="modal" data-target="#myModal" class="button--wayra button--border-thick button--text-upper button--size-s">Learn More</a>
                 </div>
                
                    <div class="social_list_w3ls">
                        <a routerLink="#" class="w3_agile_facebook_agile"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                        <a routerLink="#" class="agile_twitter_agile"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                        <a routerLink="#" class="w3_agile_dribble_agile"><span class="fa fa-dribbble" aria-hidden="true"></span></a>
                        <a routerLink="#" class="w3_agile_vimeo_agile"><span class="fa fa-vimeo" aria-hidden="true"></span></a>
                    </div>
                

              </div>
         </div>
    
</div> -->
<!-- //banner -->

<div>
    <img src="assets/images/banner2.jpg" alt="" style="width: 100%; height: 600px;">
</div>