<div class="banner-bottom">
    <div class="container">
       
              <h2 class="w3l_header">Our  Policies</h2>
        <p class="quia">Who we are</p>
        <div style="border:seagreen">
            <h3> quality policy</h3>
            <p class="agile_para">
                Quality is a measure that companies and customers can choose equally. The satisfaction of our customers is the main measure to maintain our position in the Angolan market in thermal insulation services, facilitating the provision of services to companies and the oil industry. The basis of our success is the application of this policy, which implies the desire and desire to serve better.

 

To achieve this, we are committed To: <br><br>

Communicate our commitments and objectives to our employees and ensure that they understand them.
Providing effective training aimed at continuous improvement, as well as maintaining and developing processes to better serve our customers.
Ensure that our customers are involved in the entire process of planning, developing and providing the service.
Develop key performance indicators to measure our processes in pursuit of objectives and ask our customers for information that allows us to evaluate our success.
Promote a work environment that encourages the motivation and behavior of our employees.
Control risks related to occupational health, safety and protect stakeholders in our places of work and during the performance of our activities.
Be strictly faithful to the code of integrity and professional ethics of SAITI, LDA.</p>
                
        </div>

</div>
</div>
