<!--start services-->
<!-- //banner -->
<div class="banner1">
    <div class="w3layouts_banner1_info">
        <div class="container">
            <h3 class="w3l_header">SERVICES</h3> 
                <p class="quia">Gas & Oil Industry</p>
        </div>
    </div>    
</div>
  <!--service-two -->
  <section>
    <div class="container-fluid">
      <div class="row">
       <div class="col-lg-7 col-md-6 service-left-grid">

        </div> 


<!--<div class="col-lg-5 col-md-6 service-left-matter">
    <div class="my-lg-4 my-3">
      <div class="features-right">
          <div class="w3layouts_banner1_info"> 
              <img src="../../../assets/images/Picture2.jpg" alt="" width="auto">
          </div>
      </div>
</div>
</div>
 </div>-->

 <div class="container">
    <div class="row">
        <div class="col-xs-6" >
            <img src="./assets/Picture2.jpg" alt="" width="500px" style="margin-top: 100px; height: 455px;">  
        </div>
        <div class="col-xs-6">
            <div class="w3layouts_banner1_info" style="margin-bottom: 20px"> 
                <h1 class="w3l_header"> <strong>WHAT SAITI DOES? </strong></h1>
            </div>
            <p class="mt-2" style="font-size:25px"><strong> SAITI Limited, has the capacity and the capability to supply its services in the following sectors such as:</strong></p><br>
            <p style="font-size:20px">
                 Insulations. <br>
                 Scaffolding. <br>
                 Rope Access. <br>
                 NDT Inspection. <br>
                 Welding. <br>
                 Blasting and Painting. <br>
                 Wrapping (3x Engineering). <br> 
                 Tank cleaning. <br>
                 Man power supply. <br>
            </p> 
        </div>
    </div>
</div>

  <!--//service-two -->
<!-- featured-services -->
<div class="banner-bottom">
   <div class="container"> 
   <h3 class="w3l_header">Our Featured Services</h3>
       <p class="quia">Oil Industry</p>
       
       <div class="w3ls_service_grids">
           <div class="col-md-4 w3_agile_services_grid">
               <div class="agile_services_grid">
                   <div class="hover06 column">
                       <div>
                           <figure><img src="./assets/Picture5.jpg" alt=" " class="img-responsive" /></figure>
                       </div>
                   </div>
                   <div class="agile_services_grid_pos">
                       <i class="fa fa-cubes" aria-hidden="true"></i>
                   </div>
               </div>
               <h4>tempus eu turpis</h4>
               <p>Aliquam lacus turpis, lobortis quis dolor sed, dignissim rhoncus neque.</p>
           </div>
           <div class="col-md-4 w3_agile_services_grid">
               <div class="agile_services_grid">
                   <div class="hover06 column">
                       <div>
                           <figure><img src="./assets/Picture1.png" alt=" " class="img-responsive"  style="height: 355px;"/></figure>
                       </div>
                   </div>
                   <div class="agile_services_grid_pos">
                       <i class="fa fa-line-chart" aria-hidden="true"></i>
                   </div>
               </div>
               <h4>lobortis quis dolor</h4>
               <p>Aliquam lacus turpis, lobortis quis dolor sed, dignissim rhoncus neque.</p>
           </div>
           <div class="col-md-4 w3_agile_services_grid">
               <div class="agile_services_grid">
                   <div class="hover06 column">
                       <div>
                           <figure><img src="./assets/Picture4.jpg" alt=" " class="img-responsive"  style="height: 355px;"/></figure>
                       </div>
                   </div>
                   <div class="agile_services_grid_pos">
                       <i class="fa fa-cog" aria-hidden="true"></i>
                   </div>
               </div>
               <h4>dignissim rhoncus</h4>
               <p>Aliquam lacus turpis, lobortis quis dolor sed, dignissim rhoncus neque.</p>
           </div>
           <div class="clearfix"> </div>
       </div>
   </div>
</div>


<!-- //featured-services -->

<!--//End services-->
