<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="container">
       
              <h2 class="w3l_header">Our Introduction</h2>
        <p class="quia">Who we are</p>
            <p class="agile_para">Lorem ipsum dolor sit amet conse ctetur adipisicing elit. Quis nostrum exercitationem ullam corporis suscipit 
                laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure 
                reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, 
                vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
                

        <div class="col-md-2 w3_agileits_banner_bottom_grid">
            <h5>Oil</h5>
        </div>
        <div class="col-md-10 w3_agileits_banner_bottom_grid_left">
            <ul id="flexiselDemo1">	
                <li>
                    <div class="agileits_w3layouts_banner_bottom_grid">
                        <div class="wthree_banner_bottom_grid1">
                            <img src="./assets/g1.jpg" alt=" " class="img-responsive" />
                            <div class="agileinfo_banner_bottom_grid1_pos">
                                <h3>The Oil</h3>
                                    <p>Real Quality</p>
                            </div>
                        </div>
                        <h4><a routerLink="#" data-toggle="modal" data-target="#myModal">Vivamus et dolor pulvinar, iaculis diam.</a></h4>
                    </div>
                </li>
                <li>
                    <div class="agileits_w3layouts_banner_bottom_grid">
                        <div class="wthree_banner_bottom_grid1">
                            <img src="./assets/g2.jpg" alt=" " class="img-responsive" />
                            <div class="agileinfo_banner_bottom_grid1_pos">
                                <h3>The Oil</h3>
                                    <p>Real Quality</p>
                            </div>
                        </div>
                        <h4><a routerLink="#" data-toggle="modal" data-target="#myModal">Maecenas semper augue accumsan rutrum.</a></h4>
                    </div>
                </li>
                <li>
                    <div class="agileits_w3layouts_banner_bottom_grid">
                        <div class="wthree_banner_bottom_grid1">
                            <img src="./assets/g4.jpg" alt=" " class="img-responsive" />
                            <div class="agileinfo_banner_bottom_grid1_pos">
                                <h3>The Oil</h3>
                                    <p>Real Quality</p>
                            </div>
                        </div>
                        <h4><a routerLink="#" data-toggle="modal" data-target="#myModal">In nunc purus, luctus in venenatis.</a></h4>
                    </div>
                </li>
                <li>
                    <div class="agileits_w3layouts_banner_bottom_grid">
                        <div class="wthree_banner_bottom_grid1">
                            <img src="./assets/g3.jpg" alt=" " class="img-responsive" />
                            <div class="agileinfo_banner_bottom_grid1_pos">
                                <h3>The Oil</h3>
                                    <p>Real Quality</p>
                            </div>
                        </div>
                        <h4><a routerLink="#" data-toggle="modal" data-target="#myModal">habitant morbi tristique senectus diam.</a></h4>
                    </div>
                </li>
                <li>
                    <div class="agileits_w3layouts_banner_bottom_grid">
                        <div class="wthree_banner_bottom_grid1">
                            <img src="./assets/g5.jpg" alt=" " class="img-responsive" />
                            <div class="agileinfo_banner_bottom_grid1_pos">
                                <h3>The Oil</h3>
                                <p>Real Quality</p>
                            </div>
                        </div>
                        <h4><a routerLink="#" data-toggle="modal" data-target="#myModal">Maecenas dictum honcus scelerisque.</a></h4>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //banner-bottom -->
<!-- Tooltip -->
            <div class="tooltip-content">

                <div class="modal fade features-modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Oil Industry</h4>
                            </div>
                            <div class="modal-body">
                                <img src="./assets/g4.jpg" alt="">
                                <h5>Curabitur quis egestas.</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius lectus vitae porttitor fringilla. Donec turpis orci, elementum a nunc quis, maximus varius ipsum. Sed bibendum ex in dignissim bibendum.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- //Tooltip -->
<!-- banner-bottom -->
<div class="services">
<div class="container">
        <h3 class="w3l_header two">Services We Do</h3>
        <p class="quia">What We Do</p>
   <div class="wthree_services_bottom_left w3ls_banner_bottom_grids">
        <div class="wthree_services_bottom_left_grid">
            <div class="col-md-4 w3_agileits_services_bottom_l_grid">
                <div class="agile_services_bottom_l_grid1">
                    <img src="./assets/g1.jpg" alt=" " class="img-responsive" />
                    <div class="w3_service_bottom_grid_pos">
                        <h3>Oil Industry</h3>
                    </div>
                </div>
                <div class="serve_info_agile two">
                    <h4>Lorem ipsum dolor</h4>
                    <p>Our working Process</p>
                 </div>
            </div>
            <div class="col-md-4 w3_agileits_services_bottom_l_grid">
                <div class="agile_services_bottom_l_grid1">
                    <img src="./assets/g2.jpg" alt=" " class="img-responsive" />
                    <div class="w3_service_bottom_grid_pos">
                        <h3>Oil Industry</h3>
                    </div>
                </div>
                     <div class="serve_info_agile two">
                    <h4>Lorem ipsum dolor</h4>
                    <p>Our working Process</p>
                 </div>
            </div>
            <div class="col-md-4 w3_agileits_services_bottom_l_grid">
                <div class="agile_services_bottom_l_grid1">
                    <img src="./assets/g3.jpg" alt=" " class="img-responsive" />
                    <div class="w3_service_bottom_grid_pos">
                        <h3>Oil Industry</h3>
                    </div>
                </div>
                     <div class="serve_info_agile two">
                    <h4>Lorem ipsum dolor</h4>
                    <p>Our working Process</p>
                 </div>
            </div>
            <div class="col-md-4 w3_agileits_services_bottom_l_grid">
                <div class="agile_services_bottom_l_grid1">
                    <img src="./assets/g4.jpg" alt=" " class="img-responsive" />
                    <div class="w3_service_bottom_grid_pos">
                        <h3>Oil Industry</h3>
                    </div>
                </div>
                     <div class="serve_info_agile">
                    <h4>Lorem ipsum dolor</h4>
                    <p>Our working Process</p>
                 </div>
            </div>
                <div class="col-md-4 w3_agileits_services_bottom_l_grid">
                <div class="agile_services_bottom_l_grid1">
                    <img src="./assets/g5.jpg" alt=" " class="img-responsive" />
                    <div class="w3_service_bottom_grid_pos">
                        <h3>Oil Industry</h3>
                    </div>
                </div>
                 <div class="serve_info_agile">
                    <h4>Lorem ipsum dolor</h4>
                    <p>Our working Process</p>
                 </div>
            </div>
                <div class="col-md-4 w3_agileits_services_bottom_l_grid">
                <div class="agile_services_bottom_l_grid1">
                    <img src="./assets/g6.jpg" alt=" " class="img-responsive" />
                    <div class="w3_service_bottom_grid_pos">
                        <h3>Oil Industry</h3>
                    </div>
                </div>
                     <div class="serve_info_agile">
                    <h4>Lorem ipsum dolor</h4>
                    <p>Our working Process</p>
                 </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        
    </div>
</div>
</div>
<!--//services -->

<!-- stats -->
<div class="stats">
    <div class="container">
        <div class="col-md-3 w3_stats_grid">
            <h3 id="w3l_stats1" class="odometer">0</h3>
            <p>Years of Experience</p>
        </div>
        <div class="col-md-3 w3_stats_grid">
            <h3 id="w3l_stats2" class="odometer">0</h3>
            <p>Awards Winning</p>
        </div>
        <div class="col-md-3 w3_stats_grid">
            <h3 id="w3l_stats3" class="odometer">0</h3>
            <p>Workers</p>
        </div>
        <div class="col-md-3 w3_stats_grid">
            <h3 id="w3l_stats4" class="odometer">0</h3>
            <p>Companies</p>
        </div>
        <div class="clearfix"> </div>

    </div>
</div>
<!-- //stats -->
<!-- projects -->
<div class="projects">
    <div class="container">
        <h3 class="w3l_header">Latest Works</h3>
        <p class="quia">View our Works</p>
        <div class="w3ls_banner_bottom_grids">
        <div class="col-md-8 projects-agileits-left">
            <div class="w3_agile_projects_grid">
                <div class="w3layouts_projects_grid projects1">
                    <div class="w3layouts_projects_grid_pos">
                        <div class="wthree_text">
                            <h6>Industry</h6>
                        </div>
                    </div>
                </div>
                
                    <div class="projects1-info-w3ls">
                    <h6>Lorem ipsum dolor</h6>
                    <p>Donec semper rutrum ipsum et bibendum.</p>
                    </div>
                    <div class="clearfix"> </div>
            </div>
            <div class="w3_agile_projects_grid">
                <div class="w3layouts_projects_grid projects2">
                    <div class="w3layouts_projects_grid_pos">
                        <div class="wthree_text">
                            <h6>Industry</h6>
                        </div>
                    </div>
                </div>
                
                    <div class="projects2-info-w3ls">
                    <h6>Consectetur adipiscing</h6>
                    <p>Donec semper rutrum ipsum et bibendum.</p>
                    </div>
                    <div class="clearfix"> </div>
            </div>
            </div>
            <div class="col-md-4 projects-agileits-right">
            <div class="w3_agile_projects_grid">
                <div class="w3layouts_projects_grid projects3">
                    <div class="w3layouts_projects_grid_pos">
                        <div class="wthree_text">
                            <h6>Industry</h6>
                        </div>
                    </div>
                </div>
                <div class="projects3-info-w3ls">
                    <h6>Lorem ipsum dolor</h6>
                    <p>Donec semper rutrum ipsum et bibendum.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //projects -->
<!-- testimonials -->
<div class="testimonials"> 
    <div class="container">
         <h3 class="w3l_header two">Testimonials</h3>
        <p class="quia">Our Clients words </p>

       <div class="w3ls_testimonials_grids">
             <section class="center slider">
                    <div class="agileits_testimonial_grid">
                        <div class="w3l_testimonial_grid">
                            <p>In eu auctor felis, id eleifend dolor. Integer bibendum dictum erat, 
                                non laoreet dolor.</p>
                            <h4>Rosy Crisp</h4>
                                <h5>Client</h5>
                            <div class="w3l_testimonial_grid_pos">
                                <img src="/assets/1.png" alt=" " class="img-responsive" />
                            </div>
                        </div>S
                    </div>
                    <div class="agileits_testimonial_grid">
                        <div class="w3l_testimonial_grid">
                            <p>In eu auctor felis, id eleifend dolor. Integer bibendum dictum erat, 
                                non laoreet dolor.</p>
                            <h4>Laura Paul</h4>
                                <h5>Client</h5>
                            <div class="w3l_testimonial_grid_pos">
                                <img src="/assets/2.png" alt=" " class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div class="agileits_testimonial_grid">
                        <div class="w3l_testimonial_grid">
                            <p>In eu auctor felis, id eleifend dolor. Integer bibendum dictum erat, 
                                non laoreet dolor.</p>
                            <h4>Michael Doe</h4>
                            <h5>Client</h5>
                            <div class="w3l_testimonial_grid_pos">
                                <img src="/assets/3.png" alt=" " class="img-responsive" />
                            </div>
                        </div>
                    </div>
            </section>
        </div>
    </div>
</div>
<!-- //testimonials -->